<% if @user.errors.any? %>
	<div id="">
		<p class="bg-danger">
		The form contains <%= pluralize(@user.errors.count, "error")  %>
		</p>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li class="text-danger"><%=msg %></li>
			<% end %>
		</ul>
	</div>

<% end %>