<% if @user.errors.any? %>
	<div id="">
		<%= content_tag(:div, "The form contains #{pluralize(@user.errors.count, "error")}", class: "alert alert-danger") %>

		<!-- <ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li class="text-danger"><%=msg %></li>
			<% end %>
		</ul> -->
	</div>

<% end %>