<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-inner">
			<%= link_to "Pagina de prueba", '#', id: 'logo' %>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Help', help_path %></li>
				<li><%= link_to 'Ingresar', signup_path %></li>
			</ul>
		</div>
	</div>
</nav>